@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/bg-pattern-bottom.svg);
  background-size: 800px;
  background-color: hsl(185, 75%, 39%);
  background-repeat: no-repeat;
  background-position-y: 55vh;
  background-position-x: 20vh;
  
}

.component-card {
  border: 0px solid black;
  background-color: white;
  border-radius: 14px;
}

.card-top img {
  border-radius: 12px 12px 0 0;
}

.profile-picture {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.profile-picture img {
  border-radius: 100px;
  border: 5px solid white;
}

.profile h1 {
  display: flex;
  justify-content: center;
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.profile h1 .age {
  padding-left: 10px;
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.profile p {
  display: flex;
  justify-content: center;
  color: hsl(227, 10%, 46%);
  font-size: 15px;
  margin-top: -5px;
}

.profile {
  border-bottom: 1px solid hsl(220, 13%, 87%);
}

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 40px;
}

#stats {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
 
}

#stats-name {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 12px;

}

@media (min-width: 600px) {

    body {
    background-position-y: 50vh;
    background-position-x: 80vh;
    background-size: 1800px;

    }
}