// Fuentes

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Variables

$font-size: 1rem;
$background-color: hsl(185, 75%, 39%);
$font-family: "Kumbh Sans", sans-serif;
$em: 1em;
$white: #fff;
$black: #000;

// Valores generales

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/bg-pattern-bottom.svg);
  background-size: 800px;
  background-color: $background-color;
  background-repeat: no-repeat;
  background-position-y: 55vh;
  background-position-x: 20vh;
  font-family: $font-family;
  font-size: $font-size;
  
}

.component-card {
  background-color: $white;
  border-radius: $em;
}

.card-top img {
  border-radius: $em $em 0 0;
}

.profile-picture {
  display: flex;
  justify-content: center;
  margin-top: -$em * 3.5;
}

.profile-picture img {
  border-radius: $em * 10;
  border: $em / 3 solid white;
}

.profile h1 {
  display: flex;
  justify-content: center;
  color: $black;
  margin-bottom: $em / 1.5;

}

.profile h1 .age {
  padding-left: $em;
  color: hsl(227, 10%, 46%);
}

.profile p {
  display: flex;
  justify-content: center;
  color: hsl(227, 10%, 46%);
  font-size: $font-size;
  margin-bottom: $em / 1.5;

}

.profile {
  border-bottom: $em / 10 solid hsl(220, 13%, 87%);
}

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: $em * 3;
}

#stats {
    color: hsl(229, 23%, 23%);
    font-weight: bold;
 
}

#stats-name {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: $rem;

}

@media (min-width: 600px) {

    body {
    background-position-y: 50vh;
    background-position-x: 80vh;
    background-size: 1800px;

    }
}